{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<div class="col-md-6 offset-md-3">
    <h1 class="mt-5 mb-5">Login</h1>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == 40 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-4">
        <input type="text" class="form-control fs-5" name="username" placeholder="Username" required>
        </div>
        <div class="mb-4">
        <input type="password" class="form-control fs-5" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-success"
            style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: 50px; --bs-btn-font-size: 20px;">Login</button>
    </form>
</div>
{% else %}
{% comment %} The user is authenticated {% endcomment %}
<div class="col-md-12">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'add_employee' %}" class="btn btn-success mt-5 mb-5 fs-5">Add Employee</a>
    {% if employees %}
    <h2>Employees...</h2>
    <div class="table-responsive">
    <table class="table table-borderless align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col" class="fs-4">ID</th>
                <th scope="col" class="fs-4">First Name</th>
                <th scope="col" class="fs-4">Last Name</th>
                <th scope="col" class="fs-4">Email</th>
                <th scope="col" class="fs-4">Title</th>
                <th scope="col" class="fs-4">Domain</th>
                <th scope="col" class="fs-4">Salary</th>
            </tr>
        </thead>
        <tbody>

        {% for employee in employees %}
            <tr>
                <th scope="row"><a href="{% url 'emp_detail' employee.id %}" style="text-decoration: none;">{{ employee.id }}</a></th>
                <td class="fs-4">{{ employee.first_name }}</td>
                <td class="fs-4">{{ employee.last_name }}</td>
                <td class="fs-4">{{ employee.email }}</td>
                <td class="fs-4">{{ employee.title }}</td>
                <td class="fs-4">{{ employee.domain }}</td>
                <td class="fs-4">{{ employee.salary }}</td>

            </tr>

        {% endfor %}
         </tbody>
    </table>
    </div>
    {% else %}
        <h2>No employee</h2>
    {% endif %}
</div>
{% endif %}
{% endblock %}
