{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<div class="col-md-6 offset-md-3">
    <h1 class="mt-5 mb-5">Login</h1>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == 40 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
        {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-4">
        <input type="text" class="form-control fs-5" name="username" placeholder="Username" required>
        </div>
        <div class="mb-4">
        <input type="password" class="form-control fs-5" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-success"
            style="--bs-btn-padding-y: 10px; --bs-btn-padding-x: 50px; --bs-btn-font-size: 20px;">Login</button>
    </form>
</div>
{% else %}
{% comment %} The user is authenticated {% endcomment %}
<div class="col-md-12">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    <h1>Employees...</h1>
    {% if employees %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Title</th>
                <th scope="col">Domain</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody>

        {% for employee in employees %}
            <tr>
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.title }}</td>
                <td>{{ employee.domain }}</td>
                <td>{{ employee.salary }}</td>
            </tr>

        {% endfor %}
         </tbody>
    </table>
    {% endif %}
</div>
{% endif %}
{% endblock %}
